<?xml version="1.0"?>
<config>
    <modules>
        <FW_ZirconProcessing>
            <version>1.0.2</version>
        </FW_ZirconProcessing>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <catalog_source_code>
                    <to_order>*</to_order>
                </catalog_source_code>
            </sales_convert_quote>
        </fieldsets>
        <models>
            <zirconprocessing>
                <class>FW_ZirconProcessing_Model</class>
            </zirconprocessing>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>FW_ZirconProcessing_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <zirconprocessing>
                <class>FW_ZirconProcessing_Block</class>
            </zirconprocessing>
        </blocks>
        <helpers>
            <zirconprocessing>
                <class>FW_ZirconProcessing_Helper</class>
            </zirconprocessing>
        </helpers>
        <resources>
            <zirconprocessing_setup>
                <setup>
                    <module>FW_ZirconProcessing</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </zirconprocessing_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <fw_zirconprocessing_process_zircon_order_accept_observer>
                        <class>zirconprocessing/observer</class>
                        <method>process_zircon_order_accept</method>
                    </fw_zirconprocessing_process_zircon_order_accept_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_predispatch_checkout_cart_advancedAdd>
                <observers>
                    <fw_quickorder_controller_action_predispatch_checkout_cart_advancedAdd>
                        <class>zirconprocessing/observer</class>
                        <method>onCheckoutCartAdvancedAdd</method>
                    </fw_quickorder_controller_action_predispatch_checkout_cart_advancedAdd>
                </observers>
            </controller_action_predispatch_checkout_cart_advancedAdd>
            <sales_order_save_commit_after>
                <observers>
                    <enterprise_giftcard_generate_giftcardaccounts>
                        <type>disabled</type>
                    </enterprise_giftcard_generate_giftcardaccounts>
                </observers>
            </sales_order_save_commit_after>
            <enterprise_giftcardaccount_create>
                <observers>
                    <enterprise_giftcardaccount_create>
                        <type>disabled</type>
                    </enterprise_giftcardaccount_create>
                </observers>
            </enterprise_giftcardaccount_create>
        </events>
    </global>
    <frontend>
        <routers>
            <catalogrequest>
                <use>standard</use>
                <args>
                    <module>FW_ZirconProcessing</module>
                    <frontName>zirconprocessing</frontName>
                </args>
            </catalogrequest>

        </routers>
	</frontend>
	
	<global>
		<models>
			<zirconprocessing>
				<class>FW_ZirconProcessing_Model</class>
			</zirconprocessing>
                        <authnetcim>
                            <rewrite>
                                <method>FW_ZirconProcessing_Model_Method</method>
                            </rewrite>
                        </authnetcim>
		</models>
		
		<blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>FW_ZirconProcessing_Block_Adminhtml_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
			<zirconprocessing>
				<class>FW_ZirconProcessing_Block</class>
            		</zirconprocessing>
		</blocks>
		
		<helpers>
			<zirconprocessing>
				<class>FW_ZirconProcessing_Helper</class>
			</zirconprocessing>
		</helpers>

		<resources>
			<zirconprocessing_setup>
				<setup>
					<module>FW_ZirconProcessing</module>
					<class>FW_ZirconProcessing_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</zirconprocessing_setup>
			
			<zirconprocessing_write>
            	<connection>
                	<use>core_write</use>
            	</connection>
        	</zirconprocessing_write>
        	
        	<zirconprocessing_read>
            	<connection>
                	<use>core_read</use>
            	</connection>
        	</zirconprocessing_read>
        	 
		</resources>
		
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<fw_zirconprocessing_process_zircon_order_accept_observer>
						<type>singleton</type>
						<class>zirconprocessing/observer</class>
						<method>process_zircon_order_accept</method>
					</fw_zirconprocessing_process_zircon_order_accept_observer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</global>
        	<crontab>
		<jobs>
                        <fw_zirconprocessing_cc>
				<schedule>
					<cron_expr>*/60 * * * *</cron_expr>
				</schedule>
				<run>
					<model>zirconprocessing/observer::removeCCData</model>
				</run>
			</fw_zirconprocessing_cc>
		</jobs>
	</crontab>
</config>
